.Filterrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#status{
    font-weight: 100;
    margin-left: 10px;
    cursor: pointer;
}
#status:hover{
    color: rgb(139, 135, 135);

}