.productdisplay{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 5px;
}
.displayfull{
    width: 100%;
}

.hide{
    display: none;
}
.filtercolumnproduct{
    width: 20%;
}
.products{
    display: flex;
    justify-content: center;
}