.wrapper{
    position: relative;
    height: 462px;
    width:300px ;
}
.stock{
    position: absolute;

}
.wrapper img{
    height:399px;
    width: 100%;
    height: 75%;
    object-fit: cover;
}
.smallinfo{
    display: flex;
    /* height: 25%; */
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
} 
.smallinfo img{
    width: 20px;
    cursor: pointer;
} 
.wrapper h4{
    margin-bottom: 0px;
}